@using WebsiteThucPhamSach.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<TINTUC>

@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/CssAdmin/CssTinTuc.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="~/Scripts/jquery-3.3.1.js"></script>
<div class="tieude-sp">
    @ViewBag.Title
</div>
<a id="btnAdd" href="#" class="btn btn-info">Thêm tin tức</a>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Mã tin tức</th>
                <th>Mã Admin</th>
                <th>Tiêu đề</th>
                <th>Ảnh</th>
                <th>Ngày đăng</th>
                <th>Mô tả</th>
                <th>Nội dung</th>
                <th>Nổi bật</th>
                <th>Lượt xem</th>
                <th>Công cụ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                //var name = "";
                //if (item.TRANGTHAI == true)
                //{
                //    name = "Bật";
                //}
                //else
                //{
                //    name = "Tắt";
                //}
                <tr>
                    <td>@item.MATT</td>
                    <td>@item.MAAD</td>
                    <td>@item.TIEUDE</td>
                    <td><img src="@Url.Content("~/Image/"+item.ANH)" class="img-responsive custom-size" alt="Lỗi" /></td>
                    <td>@item.NGAYDANG.Value.ToString("dd/MM/yyyy")</td>
                    <td>@item.MOTA</td>
                    <td>@item.NOIDUNG</td>
                    <td>@item.NOIBAT</td>
                    <td>@item.LUOTXEM</td>
                    <td>
                        <a href="#" data-id="@item.MATT" class="btnUpdate" data-toggle="tooltip" title="Sửa"><img src="~/Image/edit.png" alt="Update" /></a>
                        <a href="#" data-id="@item.MATT" onclick="return ThongBao()" class="btnXoa" data-toggle="tooltip" title="Xóa"><img src="~/Image/delete.png" alt="Delete" /></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @Html.PagedListPager(Model, page => Url.Action("TinTuc", new { page = page }))
</div>
<div id="PartialView">

</div>


<script type="text/javascript">
    function ThongBao() {
        if (confirm("Bạn chắc chắn muốn xóa khách hàng này?")) {
            return true;
        }
        else {
            return false;
        }
    }
    $(document).ready(function () {
        $('.btnXoa').off('click').on('click', function () {
            var MATT = $(this).data('id');
            $.ajax({
                data: { MATT: MATT },
                url: '/Admin/QLTinTuc/Xoa',
                dataType: 'json',
                type: 'POST',
                success: function (res) {
                    if (res.status == true) {
                        window.location.href = "/Admin/QLTinTuc/TinTuc";
                        alert("Bạn đã xóa thành công");
                    }
                }
            })
        })
        $('.btnUpdate').off('click').on('click', function () {
            var MATT = $(this).data('id');
            $('#PartialView').load("/Admin/QLTinTuc/SuaTTPartial", { MATT: MATT });
        })
        $('#btnAdd').off('click').on('click', function () {
            $('#PartialView').load("/Admin/QLTinTuc/ThemTTPartial");
        })
        var trangthai = $('.trangthai').val();
        $('.trangthai').click(function () {
            $.ajax({
                url: "/Admin/QLTinTuc/Bat",
                data: { MATT: $(this).data('id') },
                dataType: "Json",
                type: "POST",
                success: function (res) {
                    if (res.status == true) {
                        window.location.href = "/Admin/QLTinTuc/TinTuc";
                    }
                }
            })
        });
    });
</script>

