@using WebsiteThucPhamSach.Models
@model KHACHHANG


<div class="col-lg-8 add-color">
    @using (Html.BeginForm("ThemKhachHang", "QLKhachHang", FormMethod.Post))
    {
        <div class="frame-sp custom-col">
            <h2>Thêm khách hàng</h2>
            <div class="col-lg-6">
                <div class="layout">
                    @Html.TextBoxFor(n=>n.HOTEN, new { @class = "textboxchung", @placeholder = "Tên khách hàng" })
                </div>
                <div class="layout">
                    @Html.TextBoxFor(n => n.DIENTHOAI, new { @class = "textboxchung", @placeholder = "Điện thoại" })
                </div>
                <div class="layout">
                    @Html.TextBoxFor(n => n.EMAIL, new { @class = "textboxchung", @placeholder = "Email" })
                </div>
                <div class="layout">
                    @Html.TextBoxFor(n => n.MATKHAU, new { @class = "textboxchung", @placeholder = "Mật khẩu" })
                </div>
                <div class="layout-custom">
                    <b>Giới tính:</b>
                    @Html.RadioButtonFor(n => n.GIOITINH, "Nam", new { @checked = "true" }) Nam
                    &nbsp;&nbsp; @Html.RadioButtonFor(n => n.GIOITINH, "Nữ") Nữ
                </div>
                <div class="layout">
                    @Html.TextBoxFor(n => n.NGAYSINH, new { @class = "textboxchung", @placeholder = "Ngày sinh" })
                </div>
                <div class="layout">
                    @Html.TextAreaFor(n => n.DIACHI, new { @class = "textboxchung-custom", @placeholder = "Địa chỉ" })
                </div>
                <div class="layout">
                    <input style="font-size:18px;" id="btnthem" type="submit" class="btn btn-info" value="Thêm" />
                </div>
            </div>
        </div>
    }
</div>

