@using WebsiteThucPhamSach.Models
@model KHACHHANG
@{
    ViewBag.Title = "Thông tin cá nhân";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<link href="~/Content/CssClient/CssThongTinCaNhan.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="~/Scripts/jquery-3.3.1.js"></script>
<div class="container">
    <div class="row">
        <div class="container">
            <div class="container">
                <div class="col-lg-12 title">
                    <p class="title-wrap"><a href="~/Trang-Chu">Trang chủ</a> > <span>Thông tin cá nhân</span></p>
                </div>
            </div>
        </div>
        @using (Html.BeginForm())
        {
            <div class="col-lg-12 columns-thongtin">
                <h2 class="title-thongtin">Thông tin cá nhân</h2>
                <div class="input-row">
                    @Html.TextBoxFor(n => n.HOTEN, new { @class = "input-share", @Placeholder = "Họ & tên" })
                    @Html.ValidationMessageFor(n => n.HOTEN, "", new { @class = "text-danger" })
                </div>
                <div class="input-row">
                    @Html.TextBoxFor(n => n.NGAYSINH, new { @class = "input-share", @Placeholder = "Ngày sinh" })
                    @Html.ValidationMessageFor(n => n.NGAYSINH, "", new { @class = "text-danger" })
                </div>
                <div class="input-row">
                    <span style="font-size:15px;padding-left:22px;">Giới tính</span>
                    &nbsp; &nbsp; &nbsp;
                    @if (ViewBag.GIOITINH == "Nam")
                    {
                        @Html.RadioButtonFor(n => n.GIOITINH, "Nam", new { @checked = true })<lable style="font-size:15px;">Nam </lable>
                        <spans> </spans>
                        @Html.RadioButtonFor(n => n.GIOITINH, "Nữ")<lable style="font-size:15px;"> Nữ</lable>
                    }
                    else
                    {
                        @Html.RadioButtonFor(n => n.GIOITINH, "Nam") <lable style="font-size:15px;">Nam </lable>
                        <spans> </spans>
                        @Html.RadioButtonFor(n => n.GIOITINH, "Nữ", new { @checked = true })<lable style="font-size:15px;"> Nữ</lable>
                    }

                </div>
                <div class="input-row">
                    @Html.TextBoxFor(n => n.DIENTHOAI, new { @class = "input-share", @Placeholder = "Số điện thoại" })
                    @Html.ValidationMessageFor(n => n.DIENTHOAI, "", new { @class = "text-danger" })
                </div>
                <div class="input-row">
                    @Html.TextAreaFor(n => n.DIACHI, new { @class = "input-share-area", @Placeholder = "Địa chỉ" })
                    @Html.ValidationMessageFor(n => n.DIACHI, "", new { @class = "text-danger" })
                </div>

                <div class="input-row">
                    <input class="btn btn-block custom-luu" type="submit" name="Luu" value="Lưu">
                </div>

            </div>
        }
    </div>
</div>

