@using WebsiteThucPhamSach.Models
@model List<GioHang>
@{
    ViewBag.Title = "Thanh toán";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<link href="~/Content/CssClient/CssGioHang.css" rel="stylesheet" />
<link href="~/Content/CssClient/CssThanhToan.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="~/Scripts/jquery-3.3.1.js"></script>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="container">
                <div class="container">
                    <div class="col-lg-12 title">
                        <p class="title-wrap"><a href="~/Trang-Chu">Trang chủ</a> > <span>@ViewBag.Title</span></p>
                    </div>
                    @if (Session["HoTen"] != null)
                    {
                        Decimal tong = 0;

                        <section id="cart_items">
                            <div class="container">
                                <div class="title-thanhtoan">THÔNG TIN ĐƠN ĐẶT HÀNG</div>
                                <div class="table-responsive cart_info">
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr class="cart_menu">
                                                <td class="image">Ảnh</td>
                                                <td class="description">Tên sản phẩm</td>
                                                <td class="price">Đơn giá</td>
                                                <td class="quantity">Số lượng</td>
                                                <td class="total">Thành tiền</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var cart in Model)
                                            {
                                                <tr>
                                                    <td class="cart_product">
                                                        <img class="img-responsive" src="@Url.Content("~/Image/"+cart.ANHSP)" alt="Ảnh sản phẩm">
                                                    </td>
                                                    <td class="cart_description">
                                                        <h4 class="dungchung">@cart.TENSP</h4>
                                                    </td>
                                                    <td class="cart_price">
                                                        <p>@Html.Action("FormatPrice", "Home", new { _strInput = cart.GIASP })</p>
                                                    </td>
                                                    <td class="cart_quantity">
                                                        <div class="cart_quantity_button">
                                                            <input class="txtsoluong dodai" type="text" data-id="@cart.MASP" value="@cart.SoLuong" autocomplete="off" size="2">
                                                        </div>
                                                    </td>

                                                    <td class="cart_total">
                                                        <p class="cart_total_price">@Html.Action("FormatPrice", "Home", new { _strInput = cart.ThanhTien })</p>
                                                    </td>
                                                </tr>
                                                tong += cart.ThanhTien;
                                            }
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-lg-9">

                                </div>
                                <div class="col-lg-3 col-xs-12 move">
                                    <p style="font-weight:bold;font-size:15px;">Tổng tiền: @Html.Action("FormatPrice", "Home", new { _strInput = tong }) VNĐ</p>
                                </div>
                            </div>
                        </section> <!--/#cart_items-->
                        @Html.Action("ThanhToanPartial", "Home")
                    }
                    else
                    {
                        Response.Redirect("~/Header/DangNhap");
                    }

                </div>
            </div>
        </div>
    </div>
</div>
